@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #1e91d6;
    --secondary-color: #0072bb;
    --accent1-color: #8fc93a;
    --accent2-color: #e4cc37;

    --heading-font: 'Arial Black';
    --paragraph-font: Georgia;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--accent2-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--secondary-color);
}
* {
    box-sizing: border-box;
}
header {
	margin: 1rem auto;
	display: grid;
    grid-template-columns: 375px 2fr;
	align-items: center;
	border-bottom: 1px solid black;
	max-width: 1264px;
}
.navigation a {
	display: block;
	color: navy;
	padding: 10px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}
nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}


h1 {
    font-family: var(--heading-font);
    color: var(--secondary-color)
    }

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

legend {
    color: #0072bb;
    align-self: center;

}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
}


.contact-container {
    border-top: 1px solid black; /* Set top border */
    border-bottom: 1px solid black; /* Set bottom border */
    background-color: var(--accent2-color);
}

.row {
    display: flex;
    background-color: var(--accent2-color);
}

.contact-form {
    flex: 1;
    margin-right: 20px; /* Adjust margin as needed */
}

.contact-form .column {
    display: flex;
    flex-direction: column;
}

.contact-form label,
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    margin-bottom: 9px; 
}

.contact-form textarea {
    resize: vertical; /* Allow vertical resizing */
    height: 100px; /* Set initial height */
}

.contact-info {
    flex: 1;
}

.map-section {
    text-align: center;
}

.column2 {
    float: left;
    flex: 50%;
    padding: 5px;
}


a:link {
    text-decoration: none;
}

.sociallinks nav a{

    text-decoration: none;
    
}

section {
    align-items: center;
    margin: 10px;
}